ion-content {
    --background: #fff;
}


h1 {
    font-family: 'Domine';
    color: var(--ion-color-primary);
}

ion-avatar {
    margin-right: auto;
    margin-left: auto;
    width: 84px;
    height: 84px;
    border: 1px solid #E8E8E8;
}

.otp-input {
    margin-left: 5px;
    margin-right: 5px;

    ion-input {
        --padding-end: 0px;
    }
}

.error-container {
    height: 24px;
}
